<td>{{id}}</td>
<td><img src="/gfx/{{img}}.png" class="fileImg"></td>
<td>{{name}}</td>
<td>{{size}}</td>
<td>{{type}}</td>
<td><a href="/delete/?id={{id}}" class="fileHref">delete</a></td>
<td><a href="/info/?id={{id}}" class="fileHref">info</a></td>
<td><a href="{{downloadPath}}" class="fileHref" download>download</a></td>